h1, p, footer{
  margin: 0 0 0 0;
  font-style: bold;
}

h1{
  text-align:center;
  background-color: red;
  padding-bottom: 30px;
}
h2{
  display: inline-block;
  padding-bottom: 20px;
  padding-right:30px;
}
p{
  background-color: blue;
  min-height: 600px;
  font-size: 25px;
}
footer{
  background-color: yellow;
  padding-bottom: 30px;
  font-size: 20px;
  font-style: bold;
}
#pinkBlock{
  background-color: pink;
  font-style: bold;
  position: absolute;
  padding-right: 20%;
}
#orangeBlock{
  background-color: orange;
  font-style: bold;
  position:relative;
  left:15%;
  margin-right: 15%;
}
#greenMargin{
  margin: 0 10% 0 10%;
  background-color: green;
}
#orangeText{
  padding-left: 10%;
}
