h1, p, footer{
  margin: 0 0 0 0;
  font-style: bold;
}

h1{
  text-align:center;
  background-color: red;
  padding-bottom: 30px;
}
p{
  background-color: blue;
  min-height: 600px;
  font-style: bold;
}
footer{
  background-color: yellow;
  padding-bottom: 30px;
  font-size: 15px;
  font-style: bold;
}
#pinkBlock{
  background-color: pink;
  margin: 0 0 0 0;
  font-style: bold;
  z-index: 2;
}
#orangeBlock{
  z-index: 1;
  background-color: orange;
  margin: 0 0 0 0;
  display:inline-block;
  font-style: bold;
  position:relative;
  left:60px;
  padding-right:448px;
}
#greenMargin{
  margin: 0 10% 0 10%;
  background-color: green;
}
